timm
scikit-learn
tqdm
fairscale
transformers==4.19.2
Pillow
pyMongo
git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
git+https://github.com/openai/CLIP.git@main#egg=clip
git+https://github.com/abraham-ai/eden.git@20a2ccae9ea7c97588068bd23772bee0a72513e7
